          <!DOCTYPE html>
          <html style="font-size: 16px;">
          <head>
          <link rel="stylesheet" href="{{asset('assets/About.css')}}">
          <link rel="stylesheet" href="{{asset('assets/nicepage.css')}}">
          <link rel="stylesheet" href="{{asset('assets/jquery.js')}}">
          <link rel="stylesheet" href="{{asset('assets/nicepage.js')}}">
        {% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% endblock %}

        {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        {% endblock %}
          <title>Accueil</title>

          </head>
          <body class="u-body"><header >
          
               <nav class="navbar navbar-light bg-light">
 <div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="{{asset('assets/images/400px-Coat_of_arms_of_Burkina_Faso.svg-removebg-preview.png')}}" style="max-width:50px" class="u-logo-image u-logo-image-1" data-image-width="80">
  &nbsp;&nbsp;&nbsp;&nbsp;
  <img src="{{asset('assets/images//DGTIC-removebg-preview.png')}}" style="max-width:50px" class="u-logo-image u-logo-image-2" data-image-width="70">
    <a class="navbar-brand mb-0 h1" href="#"></a>

  &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;


<div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Accueil <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Se connecter</a>
      </li>
    </ul>

  </div>

</div>
</nav>          
          </header>



          <section class="u-align-center u-clearfix u-image u-shading u-section-1" src="" data-image-width="1280" data-image-height="853" id="carousel_8b37">
          <div class="u-clearfix u-sheet u-sheet-1">
          <h1 class="u-text u-title u-text-1">Plateforme de réception du matériel informatique&nbsp;</h1>
          <p class="u-text u-text-2">ESPACE</p>
          <div class="u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-list u-list-1">
          <div class="u-repeater u-repeater-1">
          <div class="u-align-center u-container-style u-list-item u-repeater-item">
          <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-1">
          <a href="{{ path('utilisateurs_index') }}" class="u-active-white u-btn u-btn-round u-button-style u-hover-white u-radius-50 u-white u-btn-1">Admin</a>
          </div>
          </div>
          
          <div class="u-align-center u-container-style u-list-item u-repeater-item">
          <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-2">
          <a href="{{ path('appeldoffres_index') }}" class="u-active-white u-btn u-btn-round u-button-style u-hover-white u-radius-50 u-white u-btn-2">FOURNISSEUR</a>
          </div>
          </div>
          </div>
          </div>
          <p class="u-large-text u-text u-text-variant u-text-white u-text-3">Réalisé par Experts-Dev</p>
          </div>
          </section>


          <footer><div ></div></footer>

          </body>
          </html>