{% extends 'base1.html.twig' %}

{% block title %}AppeldoffreSwitch index{% endblock %}

{% block body %}
    <h1>AppeldoffreSwitch index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Etat</th>
                <th>DateCreation</th>
                <th>Description</th>
                <th>DateLimite</th>
                <th>DateValidation</th>
                <th>Nombre</th>
                <th>Commentaire</th>
                <th>NbrPorts</th>
                <th>Rapport</th>
                <th>Marque</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for appeldoffre_switch in appeldoffre_switches %}
            <tr>
                <td>{{ appeldoffre_switch.id }}</td>
                <td>{{ appeldoffre_switch.etat }}</td>
                <td>{{ appeldoffre_switch.dateCreation ? appeldoffre_switch.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ appeldoffre_switch.description }}</td>
                <td>{{ appeldoffre_switch.dateLimite ? appeldoffre_switch.dateLimite|date('Y-m-d') : '' }}</td>
                <td>{{ appeldoffre_switch.dateValidation ? appeldoffre_switch.dateValidation|date('Y-m-d') : '' }}</td>
                <td>{{ appeldoffre_switch.nombre }}</td>
                <td>{{ appeldoffre_switch.commentaire }}</td>
                <td>{{ appeldoffre_switch.nbrPorts }}</td>
                <td>{{ appeldoffre_switch.rapport }}</td>
                <td>{{ appeldoffre_switch.marque }}</td>
                <td>
                    <a href="{{ path('appeldoffre_switch_show', {'id': appeldoffre_switch.id}) }}">show</a>
                    <a href="{{ path('appeldoffre_switch_edit', {'id': appeldoffre_switch.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('appeldoffre_switch_new') }}">Create new</a>
{% endblock %}
